body {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(245, 199, 161);
}

h1 {
  text-decoration: underline;
}

/*tableau*/

table, th, td {
  text-align: center;
  border:1px solid black;
  width:33%
}

table {
  margin:auto;
  width: 90%;
  border-radius: 5px;
  border-collapse: collapse;
}


th {
  font-size: larger;
  
}

td {
  list-style-type: none;
  background-color: rgb(229, 226, 226);
}

thead {
    background-color: black;
}

.trhead {
    color: white;
}

ul {
  list-style-type: none;
}

li {
  border: 1px white solid;
  width: auto;
  padding: 3%;
  background-color:whitesmoke;
}

li:hover {
 background-color: lightgrey;
 transition: 0.3s;
}

/*barre d'ajout de texte */

.input {
padding: 1%;
width: 50%;
}

/*bouton add*/

.add {
  border: 1px black solid;
}

.add:hover {
  background-color: rgb(241, 241, 241);
}

.add {
  padding: 1%;
    width: 25px;
    height: px;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

/*selection de classe*/

.label {
  font-size: 20px;
  margin-right: 10px;
}

#select {
    padding: 10px;
}

#select:hover {
  background-color: rgb(241, 241, 241);
  transition: 0.3s;
}

/*bouton supprimer et modifier*/

.close {
  border: 1px black solid;
  background-color: lightgrey;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  float: left;
  font-size: 20px;
}


.close:hover {
  background-color: rgb(245, 115, 115);
  transition: 0.3s;
}

.change {
  border: 1px black solid;
  background-color: lightgrey;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  float: right;
  font-size: 17px;
}

.change:hover {
  background-color: rgb(131, 218, 247);
  transition: 0.3s;
}



