body {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(245, 199, 161);
  cursor:default
}

h1 {
  font-size: 40px;
  text-shadow: 1px 1px 2px pink;
}

header {
  margin-left: 5%;
  margin-right: 5%;
}

/*tableau*/

table, th, td {
  text-align: center;
  border:1px solid black;
  width:33%;
}

table {
  margin:auto;
  width: 90%;
  border-collapse: collapse;
}


th {
  font-size: larger;
  
}

td {
  list-style-type: none;
  background-color: rgb(229, 226, 226);
}

thead {
    background-color: black;
}

.trhead {
    color: white;
}

ul {
  list-style-type: none;
}

li {
  border: 1px white solid;
  width: auto;
  padding: 3%;
  background-color:whitesmoke;
}

li:hover {
 background-color: lightgrey;
 transition: 0.3s;
}


/*barre d'ajout de texte */
.input {
  padding: 1%;
  width: 50%;
  border-radius: 5px;
  border: 2px black solid;
}


/*bouton add*/
.add {
  border: 2px black solid;
  padding: 0.1%;
  padding-bottom: 0.7%;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 10px;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 23px;
}

.add:hover {
  background-color: rgb(241, 241, 241);
}

.add:active {
  background-color: grey;
}


/*selection de classe*/
.label {
  font-size: 20px;
  margin-right: 10px;
  font-weight: 500;
}

#select {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px black solid;
}

#select:hover {
  background-color: rgb(241, 241, 241);
  transition: 0.3s;
}


/*bouton supprimer*/
.close {
  border: 1px black solid;
  background-color: lightgrey;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  float: left;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}


.close:hover {
  background-color: rgb(245, 115, 115);
  transition: 0.3s;
}

.close:active {
  background-color: rgb(250, 57, 57);
}

/*bouton changer*/
.change {
  border: 1px black solid;
  background-color: lightgrey;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.9%;
  padding-bottom: 0.9%;
  float: right;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
}

.change:hover {
  background-color: rgb(131, 218, 247);
  transition: 0.3s;
}

.change:active {
  background-color: rgb(49, 155, 255);
}

